.meme-generator {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.meme-generator img {
  margin: 10px;
  padding: 10px;
  width: 430px;
  object-fit: cover;
}

.meme-generator .generate-meme-btn {
  font-size: 20px;
  transition: all 400ms ease;
}

.meme-generator .generate-meme-btn:hover {
  padding: 8px 36px;
  letter-spacing: 3px;
}
